@charset "utf-8";
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  font-family: YuMincho, 游明朝, "Noto Serif JP", Times New Roman,
    Hiragino Mincho ProN, ヒラギノ明朝 Pro W3, HGS明朝B, ＭＳ Ｐ明朝, serif,
    Meiryo, Sawarabi Mincho, メイリオ, ＭＳ Ｐゴシック, sans-serif;
  *font-size: small;
  *font: x-small;
  overflow-x: hidden;
  display: block;
  font-size: 1.9rem;
  line-height: 1.6;
  color: #666464;
}
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: #666464;
  text-decoration: none;
  box-sizing: border-box;
  transition: 0.4s;
}
a:hover {
  opacity: 0.7;
}
a.link {
  color: #3776c0;
}
img {
  max-width: 100%;
}
li {
  list-style: none;
}
.flex {
  display: flex;
}
.flexWrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}
.t_center {
  text-align: center;
}
.inner {
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}
#header {
  position: relative;
  padding-top: 1.5rem;
  display: none;
}
#header .logo {
  width: 16rem;
  height: auto;
}

#header .menu-trigger {
  display: inline-block;
  transition: all 0.4s;
  box-sizing: border-box;
  text-align: right;
  position: absolute;
  top: 0.5rem;
  right: 0;
  width: 4.4rem;
  height: 4.4rem;
  z-index: 9998;
}
#header .menu-trigger span {
  display: inline-block;
  transition: all 0.4s;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  width: 60%;
  height: 0.2rem;
  background-color: #666464;
  border-radius: 0px;
  margin: 0 auto;
  right: 0;
}
#header .menu-trigger span:nth-of-type(1) {
  top: 1.2rem;
}
#header .menu-trigger span:nth-of-type(2) {
  top: 2.2rem;
}
#header .menu-trigger span:nth-of-type(3) {
  bottom: 1rem;
}
#header .menu-trigger.active span:nth-of-type(1) {
  transform: translateY(1rem) rotate(-45deg);
}
#header .menu-trigger.active span:nth-of-type(2) {
  opacity: 0;
}
#header .menu-trigger.active span:nth-of-type(3) {
  transform: translateY(-1.1rem) rotate(45deg);
}
#main {
  display: none;
}
#main_visual {
  width: 100%;
  height: 40rem;
  position: relative;
  overflow: hidden;
  margin-bottom: 4rem;
}
#main_visual img {
  min-width: 1000px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
h1 {
  display: none;
}
.gnav {
  background: rgba(209, 194, 127, 0.9);
  display: none;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9997;
  display: none;
}
.gnav__wrap {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  position: absolute;
  width: 100%;
}
.gnav__menu__item {
  margin: 40px 0;
}
.gnav__menu__item a {
  color: #fff;
  font-size: 1.6em;
  letter-spacing: 15;
  line-height: 1.8;
  font-weight: bold;
  padding: 40px;
  text-decoration: none;
  transition: 0.5s;
}
.icons.gnav__menu__item a {
  padding: 10px;
}
.icons.gnav__menu__item a:first-child {
  padding-left: 40px;
}
.icons.gnav__menu__item a:last-child {
  padding-right: 40px;
}
h2 {
  font-size: 5.2rem;
  font-weight: normal;
  line-height: 1.3;
  margin-bottom: 2rem;
}
h2.gold {
  color: #d1c27f;
}
h2 .small {
  font-size: 2rem;
  display: block;
}
h2 .small.sub {
  font-size: 1.7rem;
  display: block;
  color: #666464;
}
h3 {
  text-align: center;
  color: #d1c27f;
  font-size: 3rem;
  font-weight: normal;
  margin: 30px 0;
  line-height: 1.4;

}
.buttom_more {
  border: 1px solid #666464;
  display: block;
  width: 17.6rem;
  padding: 1rem 0 1.5rem;
  text-align: center;
  margin: 4rem auto;
  font-size: 2rem;
  line-height: 1;
}
.section_yellow {
  background: #f6efcf;
  padding: 5rem 0;
  margin: 6rem auto 5rem;
}
#footer {
  display: block;
  margin-top: 5rem;
  display: none;
}
.footerWrap {
  border-top: 1px solid #666464;
  text-align: center;
}
.footerWrap ul {
  justify-content: center;
  margin: 2rem 0;
}
.footerWrap li {
  padding: 0 2rem;
  border-left: 1px solid #666464;
}
.footerWrap li:last-child {
  border-right: 1px solid #666464;
}

.footerWrap.inner ul li {
  font-size: 0.7em;
}
.footerWrap.inner ul + p.copyright {
  font-size: 0.6em;
  margin: 0 auto 1%;
}

.fadein {
  opacity: 1 !important;
  transition: 1s;
}
.fadein2 {
  opacity: 1 !important;
  transition: 1s;
  transform: translateY(0) !important;
}
.scrollIn {
  opacity: 1 !important;
  transition: 1s;
  transform: translateY(0) !important;
}
.scroll {
  opacity: 0;
  transition: 1s;
  transform: translateY(30px);
}
.scroll-l {
  opacity: 0;
  transition: all 1s;
  transform: translateX(100px);
}
.scroll-r {
  opacity: 0;
  transition: all 1s;
  transform: translateX(-100px);
}
.scroll-o {
  opacity: 0;
}
.scroll-t {
  opacity: 0;
  transform: translateY(-50px);
  transition: 2s;
}
.scroll-a {
  transition: all 0.9s;
}
.scroll-a　figure {
  opacity: 0;
}
.load-fadeIn {
  opacity: 0;
}
.icons img {
  width: 3rem;
}
@media screen and (max-width: 767px) {
  html {
    font-size: 2.3vw;
  }
  body {
    font-size: 1.8rem;
  }
  .inner {
    padding: 0 10px;
    width: 100%;
    box-sizing: border-box;
  }
  #header .bar {
    right: 2vw;
  }
  #main_visual {
    height: 55vw;
  }
  #main_visual img {
    min-width: 100%;
    height: 100%;
    width: auto;
    max-width: none;
}
  h3{
    font-size: 2.5rem;
    margin: 4vw 0;
  }
  .footerWrap {
    border-top: none;
  }
  .footerWrap .flex {
    display: block;
  }
  .footerWrap li {
    border-left: none;
    border-top: 1px solid #666464;
    text-align: left;
    padding: 2.5vw;
    position: relative;
  }
  .footerWrap li:last-child {
    border-right: none;
    border-bottom: 1px solid #666464;
  }
  .footerWrap li::after {
    content: "";
    display: inline-block;
    width: 3vw;
    height: 3vw;
    border-left: 2px solid #d1c27f;
    border-top: 2px solid #d1c27f;
    transform: rotate(135deg);
    position: absolute;
    top: 3.5vw;
    right: 13px;
  }
  .buttom_more {
    margin: 4vw auto;
  }
}
