.bottomText {
  margin: 5rem auto 9rem;
  font-size: 1.9rem;
}
h2.gold {
  color: #d1c27f;
  margin: 7vh auto 0 auto;
}
#sec1 {
  background: #f6efcf;
  padding: 5rem 0;
  margin: 6rem 0 5rem;
}
section .inner {
  width: 900px;
  line-height: 1.9;
}

#sec1 .flexWrap {
  align-items: center;
}
#sec2 .flexWrap p {
  width: 47%;
  font-size: 1.9rem;
  
}
#sec3 .inner{
  padding: 45px;
  padding-top: 15px;
}
#sec3 p{
  margin-bottom: 25px;
}
@media screen and (max-width: 767px) {
  #sec1 .flexWrap img {
    width: 100%;
    margin-bottom: 4vw;
  }

  #sec1 .flexWrap:nth-child(2n) {
    align-items: center;
    flex-direction: column-reverse;
  }
  section .inner {
    width: 100%;
    box-sizing: border-box;
    font-size: 1.8rem;
  }
  #sec2 .flexWrap img{
    width: 95%;
    margin: 0 auto 3vw;

  }
  #sec2 .flexWrap p {
    width: 100%;
  }
  #sec3 .inner{
    width: 100%;
    padding: 3vw 10px 4vw;
  }
  #sec3 .flexWrap img{
    width: 47%;
    margin-bottom: 7%;
  }
}
